body{
    padding-right: 200px;
}


.juego{
    margin-left: 350px;
}


.tilriva{
   margin-right: 20px;
   color: beige;
}

img{
    width: 400px;
    pointer-events: none;
}

.botondescarga{
    pointer-events: painted;
}

@media screen and (max-width:800px){
    img{
        width: 200px;
        pointer-events: none;
        visibility: hidden; 
    } 
        .juego{
            text-overflow: clip;
        }
   
}